<!-- This wraps the content with the base.html data (just add this to each html no need to dive into it)-->
{% extends 'base.html' %}
<!--Include navbar-->
{% block navbar %} {% include 'fragments/navbar.html' %}{% endblock %}
<!--Content-->
{% block content %}
<h1 class="d-flex justify-content-center">
    {% block title %} Menu {% endblock %}
</h1>

<!-- Create Restaurant section POST REQUEST DEMO  -->
<div id="create">
    <div class="row justify-content-center">
        <div class="col-lg-8 Menu card shadow my-4">
            <div class="card-body">
                <h2>Create Restaurant</h2>
                <p class="text-danger">
                    {% with messages = get_flashed_messages() %} {% if messages
                    %} {% for message in messages %} {{ message }} {% endfor %}
                    {% endif %} {% endwith %}
                </p>

                <p></p>

                <!-- We have a post request to our ./create_restaurant endpoint -->
                <!-- the function on the backend is executed in response to a submit -->
                <form action="./create_restaurant" method="post">
                    <p>Enter Name:</p>
                    <p>
                        <!-- We just need to add an input for each field -->
                        <input type="text" name="name" class="form-control" />
                    </p>
                    <p>Enter Location:</p>
                    <p>
                        <input
                            type="text"
                            name="location"
                            class="form-control"
                        />
                    </p>
                    <p>Enter Restaurant Type:</p>
                    <p>
                        <input type="text" name="type" class="form-control" />
                    </p>
                    <p>Enter Price Range (low or medium or high):</p>
                    <p>
                        <input type="text" name="price" class="form-control" />
                    </p>
                    <p>
                        <!-- We need a submit btn to triger the form submission (POST request made onClick)-->
                        <input
                            type="submit"
                            value="Create Restaurant"
                            class="btn btn-success mt-4"
                        />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
