<!-- This wraps the content with the base.html data (just add this to each html no need to dive into it)-->
{% extends 'base.html' %}
<!--Include navbar-->
{% block navbar %} {% with seachbar={"val": true} %}{% include 'navbar.html'%}
{%endwith%}{% endblock %}
<!--Content-->
{% block content %}

<!-- This is just some styling and heading stuff for the page-->
<h1 class="d-flex justify-content-center">
    {% block title %} Restaurants {% endblock %}
</h1>

<a
    href="./create_restaurant"
    class="d-flex justify-content-center btn btn-light btn-sm"
    >Add restaurant</a
>
<hr />
<!-- This section displays each restaurant and it's fields from the result set (array)-->
{% for r in restaurants %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="restaurants card shadow my-4">
            <div class="card-body">
                <div class="card-title"><h2>{{r[1]}}</h2></div>
                <div class="card-text">
                    <h4>Location: {{r[2]}}</h4>
                    <h4>Type: {{r[3]}}</h4>
                    <h4>Price: {{r[4]}}</h4>
                </div>
                <div class="d-flex justify-content-between">
                    <!-- url to restuarant's menu page (note the id is passed in and used in our app.py function) -->
                    <a
                        class="btn btn-sm btn-success"
                        href="./restaurant/{{r[0]}}/menus"
                    >
                        See Menu and More
                    </a>
                    <!-- form to create a post request to the delete restaurant endpoint -->
                    <!-- Will take the id and pass it to the backend function for deletion process -->
                    <form action="./delete_restaurant" method="post">
                        <input name="id" value="{{r[0]}}" type="hidden" />
                        <input
                            class="btn btn-danger"
                            type="submit"
                            value="Delete Restaurant"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} {%endblock%}
