<!-- This wraps the content with the base.html data (just add this to each html no need to dive into it)-->
{% extends 'base.html' %}
<!--Include navbar-->
{% block navbar %} {% include 'fragments/navbar.html' %} {% endblock %}
<!--Content-->
{% block content %}
<h1 class="d-flex justify-content-center">
    {% block title %} Menu Detail {% endblock %}
</h1>

<a
    href="./{{food_items[0][3]}}/create_food_item"
    class="d-flex justify-content-center btn btn-light btn-sm"
    >Add Food Item</a
>
<hr />
<!-- iterate over food items result set and display info -->
{% for f_row in food_items | batch(3, '&nbsp')%}
<div class="row">
    {% for f in food_items %}
    <div class="col-lg-4">
        <div class="card shadow my-4">
            <div class="card-body">
                <h4>Name: {{f[1]}}</h4>
                <h5>Price: ${{f[2]}}</h5>
                <div class="d-flex justify-content-around mt-3">
                    <form action="./edit_food_item" method="post">
                        <input
                            type="hidden"
                            name="id"
                            class="form-control"
                            value="{{f[0]}}"
                        />
                        <input
                            class="btn btn-light"
                            type="submit"
                            name="edit"
                            value="edit"
                        />
                    </form>
                    <form action="./{{f[3]}}/delete_food_item" method="post">
                        <input type="hidden" name="id" value="{{f[0]}}" />
                        <input
                            class="btn btn-danger"
                            type="submit"
                            name="delete"
                            value="delete"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %} {% endblock %}
