<!-- This wraps the content with the base.html data (just add this to each html no need to dive into it)-->
{% extends 'base.html' %}
<!--Include navbar-->
{% block navbar %} {% include 'fragments/navbar.html' %} {% endblock %}
<!--Content-->
{% block content %}

<h1 class="d-flex justify-content-center">
    {% block title %} Restaurant Detail {% endblock %}
</h1>

<a
    href="./create_menu"
    class="d-flex justify-content-center btn btn-light btn-sm"
    >Add menu</a
>

<!-- iterate over menu result set and display info -->
<div class="row justify-content-around">
    {% for m in context.menus %}
    <div class="col-lg-4">
        <div class="card shadow my-4">
            <div class="card-body">
                <h4>{{m[2]|capitalize}} Menu</h4>
                <!-- this a has a hyper-link to the menu detail page -->
                <div class="d-flex justify-content-between">
                    <a class="btn btn-block btn-success" href="/menu/{{m[0]}}">
                        See Food Items on Menu
                    </a>
                    <!-- form to create a post request to the delete menu endpoint -->
                    <!-- Will take the id and pass it to the backend function for deletion process -->
                    <form action="./delete_menu" method="post">
                        <input name="id" value="{{m[0]}}" type="hidden" />
                        <input
                            class="btn btn-danger"
                            type="submit"
                            value="Delete"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--display hours-->
    <div class="col-lg-6">
        <div class="card shadow my-4">
            <div class="card-body">
                <div class="card-title"><h2>Hours</h2></div>
                <a href="./create_hours" class="btn btn-block btn-light"
                    >add hours</a
                >
                <hr />
                {% for h in context.hours %}
                <div class="d-flex justify-content-between mt-4">
                    <h4>{{h[0]}}: {{h[1]}} - {{h[2]}}</h4>
                    <div>
                        <form action="./edit_hours" method="post">
                            <input
                                type="hidden"
                                name="day_of_week"
                                value="{{h[0]}}"
                            />
                            <input
                                type="submit"
                                class="btn btn-block btn-light"
                                value="edit"
                            />
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--display reviews-->
    <div class="col-lg-6">
        <div class="card shadow my-4">
            <div class="card-body">
                <div class="card-title"><h2>Reviews</h2></div>
                <h5>Average Rating {{ context.average_rating[0] }}</h5>
                <!-- create review with restaurant id as url parameter-->
                <a href="./create_review" class="btn btn-block btn-light"
                    >create review</a
                >
                <hr />
                {% for r in context.reviews%}
                <div class="mt-4">
                    <h4>Reviewer: {{r[2]}}</h4>
                    <h4>Rating: {{r[4]}}</h4>
                    <h4>Review: {{r[3]}}</h4>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
