<!-- This wraps the content with the base.html data (just add this to each html no need to dive into it)-->
{% extends 'base.html' %}
<!--Include navbar-->
{% block navbar %} {% include 'fragments/navbar.html' %}{% endblock %}
<!--Content-->
{% block content %}
<h1 class="d-flex justify-content-center">
    {% block title %} Review {% endblock %}
</h1>

<!-- Create Review section POST REQUEST DEMO  -->
<div id="create">
    <div class="row justify-content-center">
        <div class="col-lg-8 Menu card shadow my-4">
            <div class="card-body">
                <h2>Create Review</h2>
                <!-- We have a post request to our ./create_Review endpoint -->
                <!-- the function on the backend is executed in response to a submit -->
                <form action="./" method="post">
                    {{ form.csrf_token }}
                    <p>
                        {{ form.name.label }}
                        {{form.name(class="form-control")}}
                    </p>

                    <p>
                        {{ form.description.label }}
                        {{form.description(class="form-control")}}
                    </p>

                    <p>
                        {{ form.rating.label }}
                        {{form.rating(class="form-control")}}
                    </p>

                    <p>
                        <!-- We need a submit btn to triger the form submission (POST request made onClick)-->
                        <input
                            type="submit"
                            value="Create Review"
                            class="btn btn-success mt-4"
                        />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
