<nav class="navbar navbar-dark bg-success mb-2">
    <div class="container-fluid">
        <a class="pl-2 navbar-brand" href="{{ url_for('index') }}"
            >Fast-Food Restaurant Library</a
        >
        {% if seachbar %}
        <form action="/" method="post" class="d-flex">
            <input
                class="form-control me-2"
                type="search"
                name="query"
                placeholder="Search"
                aria-label="Search"
            />
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        {% else %} {% endif %}
    </div>
</nav>
